[submodule "external/libigl"]
	path = external/libigl
	url = git@github.com:libigl/libigl.git
[submodule "external/geometry-central"]
	path = external/geometry-central
	url = git@github.com:nmwsharp/geometry-central.git
[submodule "external/polyscope"]
	path = external/polyscope
	url = https://github.com/nmwsharp/polyscope
